body,
html {
	background: #f4f4f4;
}

.container {
	width: 1200px;
	margin: 0 auto;
}


/*进度条*/

.g-head {
	background-color: #F2F2F2;
	width: 100%;
	height: 73px;
	border-bottom: 1px solid #ddd;
}

.g-head_in .g-logo {
	width: 225px;
	height: 48px;
	margin-top: 14px;
	background: url(../img/split.png) 0 0 no-repeat;
}

.progressBar_list {
	padding-top: 8px;
	width: 450px;
}

.progressBar {
	width: 60px;
	padding: 10px;
	margin-right: 30px;
}

.progressBar .site {
	margin: 0 auto;
	text-align: center;
	font-size: 14px;
	line-height: 23px;
	color: #FFFFFF;
	font-weight: bold;
	width: 23px;
	height: 23px;
	background-color: #CCCCCC;
	border-radius: 50%;
}

.progressBar .s_1 {
	background-color: #FF2255;
}

.progressBar .s_2 {
	background-color: #FF2255;
}

.progressBar .s_3 {
	background-color: #FF2255;
}

.progressBar span {
	width: 60px;
	margin-top: 6px;
	text-align: center;
	display: block;
}

.g_body .box {
	background: white;
	width: 100%;
}

.g_body_title {
	padding: 10px 0 18px 32px;
	border-bottom: 2px solid #ddd;
}

.timer .time {
	color: #EF2F23;
}

.timer .txt {
	display: inline-block;
	vertical-align: middle;
	color: #666666;
	font-size: 12px;
}

.title h2 {
	line-height: 42px;
}

.timer {
	line-height: 24px;
}

.pay_logo i {
	margin-left: 32px;
	display: inline-block;
	width: 28px;
	height: 30px;
	vertical-align: middle;
	background: url(../img/00000.png) 0 -167px no-repeat;
}

.red {
	color: #EF2F23;
}

.pay_logo span {
	display: inline-block;
	height: 56px;
	line-height: 56px;
	width: 154px;
	font-size: 18px;
}

.price span {
	font-size: 14px;
	padding-right: 18px;
	height: 56px;
	line-height: 56px;
	font-weight: bold;
}

.left {
	width: 45%;
	height: 230px;
	padding: 32px 0;
	text-align: center;
	background: #fff;
}

.left img {
	border: 1px solid #f6f6f6;
	width: 230px;
	height: 230px;
}

.pay_img{
	margin-top: 10px;
}
.right {
	position: relative;
	padding: 61px 0;
	width: 55%;
	height: 172px;
	background: #f4f4f4;
}

h5,
p {
	text-align: center;
	color: #999;
}

h5 {
	padding: 30px 0;
	font: 700 20px/1.4 Microsoft YaHei;
}